.header {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: cadetblue;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  font-size: 1.6rem;
}

.header > nav {
  display: none;
}

.header > nav > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}

.burgerBtn {
  all: unset;
  width: 2rem;
  cursor: pointer;
}

.burgerBtn > img {
  width: 100%;
}

.overlay {
  background-color: rgb(76, 76, 137);
  width: 100%;
  height: calc(100vh - 120px);
  position: absolute;
  transition: 0.3s;
}

.overlayPositionHidden {
  transform: translateX(-2000px);
}

.overlayPosition {
  transform: translateX(0px);
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobileNav > ul {
  padding-top: 4rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobileNav > ul > li {
  list-style: none;
}

@media screen and (width >= 768px) {
  .burgerBtn {
    display: none;
  }

  .header > nav {
    display: inline-block;
  }
}
