.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.formWrapper > input {
  padding: 0.6rem;
}

.formWrapper > button {
  padding: 0.6rem;
  cursor: pointer;
}

.tasksWrapper {
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.completed {
  background-color: green;
}

.notCompleted {
  background-color: rgb(201, 54, 54);
}

.error {
  color: rgb(135, 60, 60);
  font-weight: 600;
  font-size: 14px;
}
