.main {
  width: 200px;
  height: 200px;
  background-color: bisque;
  border-radius: 8px;
  overflow: hidden;
}

.main img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.title {
  padding-top: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
